.avatar{
    position: relative;
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.online{
    display: block;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
}
.offline{
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}